/.DS_Store
*.swp
.netrwhist
.smex-items
elpa
ac-comphist.dat
init.el.base
eshell
auto-save-list
tramp
swank
ido.last
recentf
url/cookies
/lein/repl-history
/lein/repl-port
/lein/self-installs
/emacs.d/ensime/
/emacs.d/customizations.el
